
/* Header */

.main-nav {
    display: flex;
    align-items: center;
}

.box-menu {
    display: flex;
    align-items: center;
}

.menu {
    margin: 0px;
    margin-left: 93px;
    display: flex;
    padding: 0px;

    & .item:not(:last-child) {
    margin-right: 50px;
    }
    & .item {
    display: block;
    }
}

.box-logo {
    display: block;
    padding: 0px;
}

.header-contakt {
    margin: 0px;
    margin-left: auto;
    display: flex;
    padding: 0px;

    & .item+.item {
    display: block;
    margin-left: 50px;
    }
}

.logo {
    color: var(--title-text-color);
    @include font($family: Raleway, $style: sans-serif, $weight: 700, $size: 26px);
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    @include font($family, $style, $weight, $size);
    
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus,
    &-current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
    text-decoration: none;
    }
    &-current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
}

.contakt {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primari-text-color);
    @include font($family: Roboto, $style: normal, $weight: 500, $size: 14px);
    line-height: 16px;
    text-decoration: none;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}