// Mobile

.container-hero {
  @extend .container;
  padding: 0;
}
.main__hero {
  padding: 118px 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.4);
}
.main__hero-bg {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images-1/mobile/hero.jpg');
  @media (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi), 
  (min-resolution: 2dppx) {
    background-image: url('../images-1/mobile/hero@2x.jpg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-hero__title {
  width: 75%;
  margin: 0 auto 30px auto;
  @include font($weight: 900, $size: 26px);
  line-height: 1.16;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primari-white-color);
}
.container-hero__button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}
.container-hero__button:hover,
.container-hero__button:focus {
  background-color: #188ce8;
}

// Tablet

@media screen and (min-width: 768px) {
  .main__hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images-1/tablet/hero.jpg');
    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
      background-image: url('../images-1/tablet/hero@2x.jpg');
    }
  }
  .container-hero {
    width: 100%;
  }
  .main__hero {
    padding: 118px 204px;
  }
  .container-hero__title {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .main__hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images-1/desktop/hero.jpg');
    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
      background-image: url('../images-1/desktop/hero@2x.jpg');
    }
  }
  .container-hero {
    max-width: 1600px;
  }
  .main__hero {
    padding: 200px 452px;
  }
}
