.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    background-color: red;
}
.menu-container.is-open{
    transform: translateY(0);
}