/* Портфолио*/
.box-portfolio {
  padding: 20px 24px;
}

.services {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.direction {
  display: block;
  padding: 0px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.img-blok {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 30px;
}
.group {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:hover .portfolio-overlay {
    transform: translateY(0%);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.blok-img {
  position: relative;
  overflow: hidden;
}

.portfolio-desc {
  margin: 0px;
  padding: 63px 24px;
  @include font($size: 18px);
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-overlay {
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(33, 150, 243, 0.9);
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.keys {
  padding-top: 94px;
  padding-bottom: 94px;
}

.line {
  border: 1px solid #ececec;
}

.current:hover,
.current:focus {
  background: var(--accent-color);
  color: var(--primari-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.titels {
  margin: 0px;

  color: var(--title-text-color);
  @include font($weight: 700, $size: 18px);
  line-height: 2;
  letter-spacing: 0.06em;
}

.Works {
  margin: 0px;
  margin-top: 4px;
  color: var(--primari-text-color);
  @include font($weight: 400, $size: 14px);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.blok {
  display: block;
  text-decoration: none;
  background: var(--primari-white-color);
  outline: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
